form {
  max-width: 600px;
  margin: 0 auto;
  div {
    justify-content: space-between;
    display: flex;
    padding: 8px;
    input {
      min-width: 300px;
    }
    textarea {
      min-width: 400px;
      height: 200px;
    }
  }
}
