header {
  background: #f0db4f;
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    justify-content: center;
    li {
      list-style: none;
      padding: 8px;
    }
  }
}

main {
  padding: 50px 100px;
}
